html body {
	background-color: #D7E0E7;
	background-size: cover;
}

h1 {
	font-family: "Ubuntu";
	font-size: 32px;
	color: #002B4C;
}

p {
	font-family: "Domus";
	font-size: 20px;
	color: #002B4C;
	margin-top: -2.6em;
    margin-left: -0em;
    top: 0em;
    left: 45.5%;
}

.navbar {
	position: sticky;
	font-family: "Ubuntu";
}

.navbar ul {
	color: #002B4C;
	font-size: 16px;
	text-align: right;
}

.landing {
	background-image: url(../images/Portland_Skyline-Home_Page_2.png);
	background-size: cover;
    padding-bottom: 7em;
}

.landing .container {
	position: relative;
	max-width: 100%;
}

.landing .heroimage {
	position: relative;
	max-width: 100%;
	padding: 0em 0em 0em 12em;
	vertical-align: top;
}

.heroimage img {
	position:relative;
  	width: 100%;
}

@media screen and (min-width: 801px) {
  .heroimage img {
    max-width: 450px;
    margin-top: 10em;
    margin-left: -28em;
    top: 0em;
    left: 45.5%;
  }
 }

@media screen and (min-width: 1025px) {
   .heroimage img {
    max-width: 480px;
    margin-top: 10em;
    margin-left: -27.9em;
    top: 0em;
    left: 45.5%;
   }
 }

.heroimage a {
	text-decoration: none;
}

.heroimage p {
	margin-top: -2.6em;
	text-transform: uppercase;
	position:relative;
  	width: 100%;
  	font-size: 55px;
}

@media screen and (min-width:801px) {
  .heroimage p {
    max-width: 480px;
    margin-top: -3.2em;
    margin-left: -0.5em;
    top: 0.75em;
    left: 45.5%;
  }
 } 

 @media screen and (min-width:1025px) {
  .heroimage p {
    max-width: 480px;
    margin-top: -3.2em;
    margin-left: -0em;
    top: 0.75em;
    left: 45.5%;
  }
 } 

.landing .herotext {
	max-width: 100%;
	text-align: center;
}

 .herotext h1 {
  position:relative;
  width: 100%
 }

 @media screen and (min-width: 801px) {
  .herotext h1 {
    max-width: 570px;
    margin-top:3em;
    margin-left: -6.3em;
    top: 0em;
    left: 45.5%;
  }
 }

 @media screen and (min-width: 1025px) {
  .herotext h1 {
    font-size: 42px;
    max-width: 700px;
    margin-top: 3.5em;
    margin-left: -6.8em;
    top: 0em;
    left: 47%;
  }
 }

 .landing .herotext p {
  position:relative;
  width: 100%;
  font-size: 18px;
}

@media screen and (min-width: 801px) {
  .landing .herotext p {
    max-width: 570px;
    margin-left: -13.5em;
    margin-top: 20px;
    top: 0em;
    left: 45.5%;
  }
 }

@media screen and (min-width: 1025px) {
   .landing .herotext p {
    font-size: 26px;
    max-width: 700px;
    margin-top: 20px;
    margin-left: -11em;
    top: 0em;
    left: 47%;
   }
 }

 .mywork {
 	position: relative;
 	width: 100%;
 	padding-top: 2em;
 	padding-bottom: 4em;
 	background-color: #FFFFFF;
 }

 .mywork h1 {
 	text-align: center;
 }

 .mywork .carousel {
 	margin-top: 2em;
 }

 .mywork .bd-example {
 	margin-top: 2em;
 }

 .mywork .item-text {
 	margin-top: 2em;
 	text-align: center;
 }

 .mywork .item-text h5 {
 	color: #002B4C;
 	text-align: center;
 }

 .mywork .container ol {
 	margin-bottom: -1em;
 }

 .mywork .carousel-indicators li.active {
 	background-color: #002B4C;
 }

 .mywork .carousel-indicators li {
 	background-color: #002B4C;
 }

 .aboutme {
 	position: relative;
 	padding-top: 1em;
 	padding-bottom: 1em;
 }

 .aboutme .container {
 	margin-top: 1em;
 }

 .aboutme h1 {
 	text-align: center;
 }

 @media screen and (min-width: 801px) {
 .aboutme .card h5 {
 	font-size: 17px;
 }
}

 .aboutme .card {
 	margin-top: 2em;
 	border: 1px solid transparent;
 	background-color: transparent;
 }

 .aboutme .card img {
 	width: 475px;
 }

 .aboutme .card .card-body {
 	padding-top: 0;
 	padding-left: 9em;
 }

 @media screen and (min-width: 801px) {
 .aboutme .card .card-body {
 	padding-top: 0;
 	padding-left: 12em;
 }
}

@media screen and (min-width: 801px) {
 .aboutme .card .card-text {
 	font-size: 17px;
 }
}

 .education {
 	background-image: url(../images/myskills_background.png);
 	position: relative;
 	padding-top: 2em;
 	padding-bottom: 1em;
 }

 .education h1 {
 	color: #FFFFFF;
 	text-align: center;
 }

 .education h2 {
 	color: #FFFFFF;
 	font-family: "Ubuntu";
 	font-weight: 400;
 	text-align: left;
 }

 .education .card {
 	border: 1px solid transparent;
 	background-color: transparent;
 }

 .education .card-title {
 	color: #FFFFFF;
 	font-family: "Ubuntu";
 }

 .education .card-text {
 	color: #FFFFFF;
 }

 .education .skills {
 	color: #FFFFFF;
 	float: left;
 	padding: 1.25em;
 }

 .interests {
 	position: relative;
 	width: 100%;
 	padding-top: 2em;
 	padding-bottom: 4em;
 	background-color: #FFFFFF;
 }

 .interests h1 {
 	text-align: center;
 }

 .interests .grid-container {
  	display: grid;
  	grid-template-columns: auto auto auto;
  	margin-top: 2em;
  	padding: 10px;
}

 .interests .grid-item {
  	text-align: center;
}

 footer {
 	padding-top: 1em;
 	padding-left: 1em;
 }

 footer p {
 	font-family: "Ubuntu";
 	text-transform: uppercase;
 }